@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --first-color: #BDBDBD;
    --second-color: #9C9C9C;
    --background-color: #373737;
    --background-color: #282828;
    --subtext-color: #CACACA;
    --idk-color: #6C6C6C;
    --darkest-color: #0F0F0F;
    --gray-color: #919191;
    --text-color: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darkest-color);
    height: 100vh;
    font-family: Montserrat, 'sans serif';
}

.flex {
    display: flex;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/*HEADER*/
header {
    padding: 40px 4%;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    color: var(--text-color);
    transform: none;
}

header a {
    color: var(--gray-color);
    text-decoration: none;
    list-style: none;
    display: inline-block;
    transition: .2s;
    font-weight: 700;
}

header a:hover {
    color: aliceblue;
    transform: scale(1.05);
}

header nav ul li {
    display: inline-flex;
    padding: 0 40px;
}

header .btn-contact button {
    padding: 10px 30px;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--text-color);
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: Montserrat;
}

header .btn-contact button:hover {
    box-shadow: 0px 0px 8px var(--text-color);
}

/*INTRODUCTION*/
.introduction {
    padding: 120px 6%;
}

section .introduction .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.introduction .text h1 {
    margin-top: 3em;
    color: var(--text-color);
    font-size: 50px;
}

.introduction .text span {
    color: var(--idk-color);
}

.introduction .text p {
    color: var(--text-color);
    max-width: 70%;
    margin-top: 2em;
}

.introduction #img {
    position: relative;
    animation: float 2s ease-in-out infinite alternate;
    margin-top: 20px;
}

@keyframes float {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

.socialMenu {
    display: flex;
    margin-top: 2em;
}

.socialMenu ul li {
    margin-top: 18px;
    margin-left: -19px;
    list-style: none;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    display: inline-flex;
}

.socialMenu ul li .bx {
    font-size: 30px;
    color: var(--darkest-color);
    transition: .6s;
    color: #000;
    margin-top: 10px;
}

.socialMenu ul li a {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--text-color);
    margin-left: 5px;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(255, 255, 255, 0.205);
}

.socialMenu ul li a:hover {
    transform: translate(0, -10px);
}

.socialMenu ul li:nth-child(1) a:hover {
    background-color: #d01faa;
}

.socialMenu ul li:nth-child(2) a:hover {
    background-color: #0d78e2;
}

.socialMenu ul li:nth-child(3) a:hover {
    background-color: #2B3137;
}

.socialMenu ul li:nth-child(4) a:hover {
    background-color: #ea4335;
}

button {
    border-radius: 5px;
    border: none;
    background: transparent;
}

.btn {
    margin-top: 20px;
    padding: 0.2rem;
    border-radius: 12px;
    border: none;
    position: relative;
    background: var(--background-color);
    cursor: pointer;
    overflow: hidden;
}

.in {
    padding: 10px 40px;
    background: var(--darkest-color);
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    position: relative;
    border-radius: 9px;
z-index: 99;
}

.btn::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 20rem;
    background: white;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: animate 2s linear infinite;
}    

@keyframes animate {
    100% {
        transform: translate(-50%, -50%) rotate(225deg);
    }
}


/*SKILLS*/
.skills {
    padding: 120px 6%;
}

.title-skills {
    color: #fff;
    font-size: 50px;
    text-align: center;

}

.title-skills span {
    color: #343434;
}

.cardlist .carditem {
    color: var(--text-color);
    user-select: none;
    padding: 40px;
    border-radius: 35px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
}

.cardlist .carditem i {
    font-size: 100px;
    margin-bottom: 40px;
    padding: 4px;
}

.carditem h3 {
    font-size: 30px;
}

.cardlist .carditem p {
    font-size: 1.10rem;
    font-weight: 500;
    margin: 14px 0 14px;
    text-align: center;
}

.swiper-wrapper {
    max-width: 1200px;
    margin: 0 0 55px;
}



/*ABOUTME*/
.aboutme {
    padding: 120px 6%;
}

.aboutme .flex {
    align-items: center;
    gap: 60px;
}

.aboutme img {
    width: 382px;
    height: 540px;
    border-radius: 50px;
    float: left;
}

.text-abt {
    color: var(--text-color);
}

.text-abt h2 {
    font-size: 3em;
}

.text-abt p {
    font-size: 20px;
}



/*PROJECTS*/
.projects {
    padding: 120px 6%;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.projects-card {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
}

.projects-grid h3 {
    color: white;
    font-size: 30px;
}

.projects-grid p {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

.projects-card:hover {
    background-color: #37373739;
    color: rgb(0, 0, 0);
    transform: translateY(-10px) scale(1.02);
}

.projects-card img {
    width: 20vw;
    border-radius: 2rem;
}

.projects h2 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.projects span {
    color: #606060;
    font-size: 50px;
    text-align: center;
}

.projects-card:hover .btn-prj {
    border-radius: 2px solid rgb(173, 173, 173);
    color: rgb(0, 0, 0);
}

.btn-prj {
    border-radius: 3rem;
    padding: 0.8rem 0.8rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    text-align: center;
    color: #9C9C9C;
    display: inline-flex;
}

.btn-prj:hover {
    background-color: #999999;
    color: white;
}

/*EDUCATION*/
main.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.container {
    width: 100%;
    padding: 35px 10%;
}

main .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.education .title{
    color: var(--subtext-color);
 }

 .education .contents{
    padding: 0 30px;
    border-left: 2px solid white;
 }

 .education .contents .box{
     position: relative;
     padding: 20px;
     border: 1px solid var(--idk-color);
     background-color: var(--idk-color);
     cursor: pointer;
     transition: all 0.4s;
     margin-bottom: 20px;
     border-radius: 10px;
    }
    
    .education .contents .box:hover{
        box-shadow: 0 3px 12px 0  #5c5c5c;
        border: 1px solid transparent;
    }

    .education .contents .box::before{
        content: ' ';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 40%;
        right: calc(100% + 22px);
        top: 0;
        background-color: #424247;
        border: 2px solid white;
    }

    .box h4{
        position: relative;
        color: var(--gray-color);
    }

    .box h3{
        font-size: 19px;
        padding: 10px 0 6px;
        color: var(--darkest-color)
    }

    .box p{
        line-height: 1.2;
        color: var(--darkest-color);
        font-size: 17px;
    }



/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
    border: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 50px;
}